.snackbar{
	position: fixed;
	width: 500px;
	padding: 5px;
	font-size: 0.9em;
	left: 50%;
	opacity: 1;
	bottom: -50%;
	transition: all 0.1s ease;
	transform: translateX(-50%);
	border-radius: 3px;
	border: 1px solid black;
	background-color: #2f3238;
	z-index: 4;
}
.snackbar>*{
	color: lightgrey;
}
.snackbar:hover >*{
	color: white;
}
.snackbar p:first-of-type{
	text-align: right;
	margin: -5.5px -3px;
}
.snackbar span{
	cursor: pointer;
}
.snackbar p{
	margin: 5px;
	margin-top: 0px;
	transition: color 0s linear;
}
